{% extends "DashiDashboardBundle::layout.html.twig" %}

{% block body_sub %}style="width:800px; margin: 0px auto; text-align: center"{% endblock %}
{% block content %}
    {% verbatim %}
    <h1>Welcome to dashi {{ 5+5 }} and {{  '!' + 'blub'}}</h1>
    <div style="font-size:20px; width:200px; height: 200px;text-align: center;margin: 0px auto">
        <span style="line-height:200px;vertical-align: middle;"><a href="dashboard/manage">Configure</a></span>
    </div><br/>
    <div style="font-size:20px; width:200px; height: 200px;text-align: center;margin: 0px auto">
        <span style="line-height:200px;vertical-align: middle;"><a href="screen">Screen</a></span>
    </div>
    {% endverbatim %}
{% endblock %}
