<html>
	<head>
	</head>
	<body>
		<h1>Dashboards</h1>
		<ul>
			<li><a href="{{ url('dashi_dashboard_new') }}">New Dashboard...</a></li>
		{% for dashboard in dashboards %}
			<li>{{dashboard.name}}</li>
		{% endfor %}
		</ul>
	</body>
</html>