#canvas {
    width:1920px;
    height:1080px;
    border:1px dotted green;
    position:relative;
}

.widget {
    position: absolute;
    border-radius: 5px;
    color: white;
    font-family: verdana;
    font-size: 20px;
    background: #444444;
    box-shadow: 3px 3px 3px red;
}

.widget .dragbar {
    border-bottom: 2px solid black;
    width:100%;
    cursor:move;
}

.widget .name {
    width:100%;
    text-align:center;
    line-height: 100px;
}

.saved {
    box-shadow: 3px 3px 3px green;
}

.widget .closeX{
    float:right;
    cursor: initial;
}

.widget .resizeIcon {
    background-image: url('/img/resize_icon.png');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor:se-resize;
    border-bottom-right-radius: 5px;
}

.widget .container {
    height: 100%;
    overflow: auto;
}