
<div class="container">

    <div class="text-center">
        <h1>Geo Voka</h1>


        <div class="row">
            <div class="col-lg-12"><h1>Type the country</h1></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-lg-offset-3 text-right">Name:</div>
            <div class="col-lg-3 text-left">{{ vokabel.label }}</div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-lg-offset-3 text-right">Continent:</div>
            <div class="col-lg-3 text-left">{{ vokabel.continent }}</div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-lg-offset-3 text-right">Capital:</div>
            <div class="col-lg-3 text-left">{{ vokabel.capital }}</div>
        </div>

        <div class="row" style="height:30px"></div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4"><img id="flag" style="box-shadow: #eee" alt="dynamic flag image" width="300px"/></div>
        </div>

    </div>

</div>
